<h1>GitHub Scorecard</h1>

<% if @contributor_ratings.present? %>
  <table>
    <thead>
      <tr>
        <th>Contributor</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @contributor_ratings.each do |contributor_rating| %>
        <tr>
          <td><%= contributor_rating.contributor.username %></td>
          <td><%= contributor_rating.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There are no scores</h2>
<% end %>

<%= button_to 'Update Scores', update_score_path, method: :post %>